header {
    text-align: center
}

.parameters {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
}

#buttons {
    min-width: 400px;
    margin-left: 50px;
}

#status {
    min-width: 400px;
}

.progress {
    min-width: 400px;
}

.status-log {
    margin: 10px;
    min-width: 400px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}